<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar - Crash Crash POWER!</title>
    <link rel="stylesheet" th:href="@{css/login.css}">
</head>
<body>
    <div class="common-container">

        <form method="post" action="cadastro" th:object="${jogador}">
            <h2>The Game: Cadastro</h2>
            <label for="newUsername">Novo Usuário:</label>
            <input type="text" id="newUsername" placeholder="Insira o novo nome de usuário" name="newUsername" required>
            <label for="newPassword">Nova Senha:</label>
            <input type="password" id="newPassword" placeholder="Insira a nova senha" name="newPassword" required>
            <button type="submit">Cadastrar</button>
        </form>
        <p>Já tem uma conta? <a href="login.html">Faça login</a></p>
    </div>

</body>

</html>