<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/jogo.css">
    <title>Document</title>
</head>
<body>
    <h1 id="texto">
        Saquem Suas Armas
    </h1>
    <div id="divBotoes">
        <button type="button" onclick="acao(1)">Ataque</button>
        <button type="button" onclick="acao(2)">Defesa</button>
        <button type="button" onclick="acao(3)">Carregar</button>
    </div>
    <div class="container-jogadores">
        <div id="jogador1">
            <img src="../static/img/cavaleiro_padrao.png" id="imgJogador1">
        </div>
        <div id="jogador2">
            <img src="../static/img/cavaleiro_padrao.png" id="imgJogador2">
        </div>
    </div>
    <script src="../static/js/jogo.js"></script>
</body>
</html>