<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fazer Login - Crash Crash POWER!</title>
    <link rel="stylesheet" th:href="@{css/login.css}">
</head>

<body>

    <div class="common-container">
        <p th:if="${loginError}" th:text="${loginError}" class="error"></p>
        <form method="post" action="/login">
            <h2>The Game: Login</h2>
            <label for="username">Usuário:</label>
            <input type="text" id="username" placeholder="Insira o nome de usuário" name="username" required value="teste">
            <label for="password">Senha:</label>
            <input type="password" id="password" placeholder="Insira a senha" name="password" required value="admin">
            <button type="submit">Entrar</button>
        </form>
        <p>Não tem uma conta? <a href="cadastro.html">Cadastre-se</a></p>
    </div>
</body>

</html>